html, body {
    background-color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    position: relative; 
    overflow: hidden; 
}

.responsive-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

body {
  background-color: #555;
}

@media (max-width: 575.98px) {
  .btn-custom {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  #carouselExampleSlidesOnly {
    margin-top: 2.5rem;
    height: 300px;
  }
  .btn-insta {
    top: 60%;
  }
  .center {
    text-align: center;
  }
}

.m-b-30 {
  margin-bottom: 20px;
}

.m-t-20 {
  padding-top: 20px;
}

.footer {
  background-color: #282828;
}

.footer2 {
  background-color: #141414;
}

@media (min-width: 576px) {
  .center .btn-group {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .center .btn-group {
    max-width: 50%;
  }
}

@media (max-width: 991px) {
  .center {
    text-align: center;
    width: 10%;
  }
}

.btn-insta {
  width: 200px;
  padding: 5px 8px;
}

.color-menu li a {
  color: #000 !important;
}

.color-menu li:not(.language-badge) a {
    color: #FFF !important;
  }
  
.menu-logo .logo {
  height: 60px;
  padding-left: 30px;
}

.rs {
  height: 27px;
  padding-left: 0;
}

.text {
  font-size: 17px;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-oswald a {
  font-weight: 400;
}

.hover-menu:hover {
  background-color: #c3ac6e;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    width: 100% !important;
    background-color: #000 !important;
  }
  .navbar-nav {
    padding: 10px 50px 20px!important;

  }
  .ps-3-responsive {
    padding-left: 20px !important;
  }
}

.dropdown-item.hover-gold:hover {
  background-color: #c3ac6e !important;
}

.navbar-nav .nav-link {
  color: #fff;
}

.dropdown-menu {
    margin: 0 !important;
    border-radius: 0 !important;
    left: -1px !important;
    border: none !important;
}

.dropdown-menu.show {
    background-color: #000 !important;
}

.nav-link.dropdown-toggle[aria-expanded="true"] {
    background-color: #c3ac6e !important;
    color: #fff !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #c3ac6e !important;
    color: #fff !important;
}

.carousel-indicators .round {
  width: 4px !important;
  height: 4px !important;
  border-radius: 50% !important;
  background-color: #ccc;
  border: none !important;
  margin: 0 4px !important;
}

.carousel-indicators .round.active {
  background-color: #c3ac6e !important;
}

.margin-left {
  margin-left: 40px;
}

@media (max-width: 1029.98px) {
  .margin-left {
    margin-left: 0 !important;
  }
}

.icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 0.3s ease;
  cursor: pointer;
}

.fhover {
  background-image: url(/assets/img/icons8-facebook.svg);
}
.fhover:hover {
  background-image: url(/assets/img/facebook-hover.svg);
  transform: scale(1.2);
}

.ihover {
  background-image: url(/assets/img/insta.svg);
}
.ihover:hover {
  background-image: url(/assets/img/insta-hover.svg);
  transform: scale(1.2);
}

.thover {
  background-image: url(/assets/img/tripadvisor.svg);
  margin-left: 3px;
}
.thover:hover {
  background-image: url(/assets/img/tripadvisor-hover.svg);
  transform: scale(1.2);
}

.language-badge {
  position: absolute;
  top: 0;
  right: 30px;
  background-color: #cfad6c;
  padding: 0 10px;
  transition: all 0.3s ease;
}

.language-badge:hover {
  background-color: #cfad6c;
  height: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  text-decoration: underline;
}

.language-text {
  color: #2b2b2b;
  font-weight: bold;
  text-decoration: none !important;
}

.language-badge-inside {
  background-color: #cfad6c;
  padding: 5px 10px;
  align-self: center;
  margin-right: 30px;
  display: none;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
}

.language-badge-inside {
  display: inline-block !important;
}

.custom-toggler {
  border: none !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler:focus,
.custom-toggler:active {
  box-shadow: none;
  border-color: white !important;
}

/* Base styles
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
} */

.image-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}

.responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.message404 h1 {
  font-size: 10rem;
  font-weight: 700;
  color: #cfad6c;
  margin: 0;
}

.message404 h2 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  color: white;
}

@media (max-width: 575.98px) {
  .message404 h1 {
    font-size: 8rem;
  }
  .message404 h2 {
    font-size: 2.5rem;
  }
}

.btn-404 {
    margin-top: 30px;
    background-color: #cfad6c;
    color: #333;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 20px;
}
